/* Header Styles */
header {
  background-color: var(--white);
  box-shadow: var(--shadow-sm);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) 0;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
}

.logo-container .logo {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}



.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: var(--spacing-md);
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.nav-links a.btn.btn-primary {
  color: var(--white);
}
