<header>
  <div class="container">
    <nav class="navbar">
      <i class="fas fa-piggy-bank"></i>
      <a href="#" class="logo">
        POC Bank
      </a>
      <ul class="nav-links">
        <li><a routerLink="/">Personal</a></li>
        <li><a routerLink="/">Business</a></li>
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/">Contact</a></li>
        <li>
          <a routerLink="/login" class="btn btn-primary">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
