<div class="login-container">
  <form class="login-form" id="loginForm" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <app-input label="Email Address" formControlName="email" inputId="email"
      name="email" type="email" [required]="true"
      [inputAttrs]="{ min: 0, max: 100000, step: 1, inputmode: 'decimal' }" [submitted]="submitted()"
      helpText="Enter your email address"
      [errorText]="form.controls.email.errors?.['notFound'] ? 'We couldn\'t find that email address.' : form.controls.email.errors?.['server'] ? 'We couldn\'t sign you in right now. Please try again.'  :'A valid email address is required.' "
    />
    <app-input label="Password" formControlName="password" inputId="password"
      name="password" type="password" [required]="true"
      [submitted]="submitted()"
      helpText="Enter your password."
      [errorText]="form.controls.password.errors?.['incorrect'] ? 'The password you entered is incorrect.' : form.controls.password.errors?.['server'] ?  'We couldn\'t sign you in right now. Please try again.' : 'Password is required.' "
    />
    <app-button type="submit" variant="primary">Sign In</app-button>

    <div class="form-footer">
      <p><a href="#">Forgot your password?</a></p>
      <p>Don't have an account? <a href="#">Sign up now</a></p>
    </div>
  </form>
</div>
