<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate aria-describedby="required-text">


  <div class="form-section">
    <div>
      <h2 class="form-section-title">Personal Information</h2>
      <p class="required-text">* Required fields</p>
    </div>

    <div *ngIf="showSummary()" class="error-summary" role="alert" aria-live="assertive" aria-atomic="true">
      <p class="error-summary-title">Please fix the following errors:</p>
      <ul class="error-summary-list">
        <li *ngIf="form.controls.firstName.invalid">First Name is required.</li>
        <li *ngIf="form.controls.lastName.invalid">Last Name is required.</li>
        <li *ngIf="form.controls.dateOfBirth.invalid">Date of Birth is required and must be in the past.</li>
        <li *ngIf="form.controls.socialSecurityNumber.invalid">SSN is required (format: XXX-XX-XXXX).</li>
        <li *ngIf="form.controls.streetAddress.invalid">Street Address is required.</li>
        <li *ngIf="form.controls.city.invalid">City is required.</li>
        <li *ngIf="form.controls.state.invalid">State is required.</li>
        <li *ngIf="form.controls.zipCode.invalid">ZIP Code is required (format: 12345 or 12345-6789).</li>
      </ul>
    </div>

    <div class="form-row">
      <app-input label="First Name"
        formControlName="firstName" inputId="firstName" name="firstName" type="text"
        [attr.autocomplete]="'given-name'" [required]="true"
        [submitted]="submitted()"
        helpText="Enter your First Name"
        errorText="First Name is required."
      />
      <app-input label="Last Name"
        formControlName="lastName" inputId="lastName" name="lastName" type="text"
        [attr.autocomplete]="'family-name'" [required]="true"
        [submitted]="submitted()"
        helpText="Enter your Last Name"
        errorText="Last Name is required."
      />

    </div>

    <div class="form-row">

      <app-input label="Date of Birth"
        formControlName="dateOfBirth" inputId="dateOfBirth" name="dateOfBirth" type="date"
        [attr.autocomplete]="'bday'" [required]="true"
        [submitted]="submitted()"
        helpText="Enter your Date of Birth"
        errorText="Date of Birth is required"
      />
      <app-input label="Social Security Number"
        formControlName="socialSecurityNumber" inputId="ssn" name="ssn" type="text"
        [attr.inputmode]="'numeric'" [required]="true"
        [submitted]="submitted()"
        helpText="Enter your SSN in the format XXX-XX-XXXX"
        errorText="SSN is required"
      />
    </div>
  </div>

  <div class="form-section">
    <h2 class="form-section-title">Address Information</h2>

    <div class="form-row">
      <app-input label="Street Address"
        formControlName="streetAddress" inputId="streetAddress" name="streetAddress" type="text"
        [attr.autocomplete]="'street-address'" [required]="true"
        [submitted]="submitted()"
        class="full-width"
        helpText="Enter your Street Address"
        errorText="Street Address is required."
      />
    </div>

    <div class="form-row">

      <app-input label="City"
        formControlName="city" inputId="city" name="city" type="text"
        [attr.autocomplete]="'address-level2'" [required]="true"
        [submitted]="submitted()"
        helpText="Enter your City"
        errorText="City is required."
      />

      <app-select label="State" [required]="true" id="state" name="state"
        formControlName="state"
        [options]="states"
        helpText="Select your State."
        errorText="State is required."
      />

    </div>

    <div class="form-row">

      <app-input label="ZIP Code"
        formControlName="zipCode" inputId="zipCode" name="zipCode" type="text"
        [attr.inputmode]="'numeric'" [attr.autocomplete]="'postal-code'" [required]="true"
        [submitted]="submitted()"
        helpText="Enter your ZIP Code"
        errorText="ZIP Code is required."
      />
      <div class="form-group">
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div style="width:100%">&nbsp;</div>
    <button type="submit" class="btn btn-primary">Next Step</button>
  </div>

</form>
