.form-container {
  padding: var(--spacing-lg);
  max-width: 80ch;
  margin: 0 auto;
}

.form-section {
  margin-bottom: var(--spacing-lg);
}

.form-section-title {
  font-family: var(--font-heading);
  font-size: var(--subheading-font-size);
  color: var(--primary-color);
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-xs);
  border-bottom: 2px solid var(--medium-gray);
}

.form-row {
  display: flex;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.form-group {
  flex: 1;
  margin-bottom: var(--spacing-sm);
}

.form-group.full-width {
  flex: 1 0 100%;
}

label {
  display: block;
  margin-bottom: var(--spacing-xs);
  font-weight: 500;
  color: var(--black);
}

.required::after {
  content: " *";
  color: var(--error);
}

input,
select {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--medium-gray);
  border-radius: var(--border-radius-md);
  font-family: var(--font-primary);
  font-size: var(--body-font-size);
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(37, 99, 165, 0.1);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: var(--spacing-xl);
  gap:1rem;
}

.required-text {
  font-size: var(--small-font-size);
  color: var(--error);
  margin-block: var(--spacing-md);
}

.form-error {
  color: var(--error);
  text-decoration: none;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }
}
