
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--dark-gray);
}

.step.active {
  color: var(--primary-color);
  font-weight: 600;
}

.step-number {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--medium-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-xs);
  font-weight: 600;
  z-index:1;
}
.step-label {
  margin-top: var(--spacing-xs);
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--medium-gray);
}


.step.active .step-number {
  background: var(--primary-color);
  color: var(--white);
}
