<!-- input.component.html -->
<div class="form-group" [ngClass]="groupClass()">
  <label [for]="resolvedId()" [class.required]="required()">
    {{ label() }}
  </label>

  <input
    appApplyAttrs
    [appAttrs]="inputAttrs()"
    [type]="type()"
    [id]="resolvedId()"
    [name]="resolvedName()"
    [value]="value()"
    [disabled]="disabled()"
    (keydown)="handleKeyDown($event)"
    (input)="handleInput(($any($event.target)).value)"
    (blur)="handleBlur()"
    [attr.required]="required() ? '' : null"
    [attr.aria-invalid]="showError() ? 'true' : null"
    [attr.aria-describedby]="describedBy()"
    [attr.aria-errormessage]="showError() ? errorId() : null"
  />

  @if (helpText() && !showError()) {
    <p [id]="helpId()" class="form-description">
      {{ helpText() }}
    </p>
  }

  @if (errorText() && showError()) {
    <p class="form-error" [id]="errorId()">
      {{ errorText() }}
    </p>
  }
</div>
